@import "tailwindcss";

@theme {
  --color-primary: #425946;
  --color-background: #f2f2f2;
  --color-soft-secondary: #d9cca7;
  --color-neutral-text: #807d84;
  --color-accent: #bf9765;

  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-neutral-text);
}
